@mixin link {
	text-transform: uppercase;
	text-decoration: none;
	padding: 1.5rem 4rem;
	border-radius: 10rem;
	position: relative;
	font-size: 1.6rem;
}

@mixin margin {
	@for $i from 1 to 10 {
		.u-mb-#{$i} {
			margin-bottom: #{$i}rem;
		}
	}
}

@mixin clearfix {
	&::after {
		content: "";
		display: table;
		clear: both;
	}
}


@mixin absCenter {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

@mixin respond-phone {
	@media (max-width: 600px) {
		@content;
	}
}

@mixin respond($breakpoint) {

	
	@if $breakpoint == phone {
		@media (max-width: 37.5em) {
			@content
		}

		; // 600px, em (600 / 16)
	}


	@if $breakpoint == tab-port {
		@media (max-width: 56.25em) {
			@content
		}

		; // 900px, em (900 / 16)
	}


	@if $breakpoint == tab-land {
		@media (max-width: 75em) {
			@content
		}

		; // 1200px, em (1200 / 16)
	}


	@if $breakpoint == big-desktop {
		@media (min-width: 112.5em) {
			@content
		}

		; // 1800px, em (1800 / 16)
	}


}