.form {

	&__group:not(:last-child) {
		margin-bottom: 2rem;
	}

	&__input {
		background-color: rgba($color-white, .5);
		border-bottom: 3px solid transparent;
		border-radius: 2px;
		border: none;
		color: inherit;
		display: block;
		font-family: inherit;
		font-size: 1.5rem;
		padding: 1.5rem 2rem;
		transition: all .3s;
		width: 90%;

		&::-webkit-input-placeholder {
			color: $color-dark-gray;
		}

		&:focus {
			outline: none;
			box-shadow: 0 1rem 2rem rgba($color-black, .1);
			border-bottom: 3px solid $color-primary;
		}

		&:focus:invalid {
			border-bottom: 3px solid $color-orange-red;
		}
	}

	&__input:placeholder-shown + &__label {
		opacity: 0;
		/* visibility: hidden; */
		transform: translateY(-4rem);
	}

	&__label {
		font-size: 1.2rem;
		font-weight: 700;
		margin: .7rem 0 0 2rem;
		display: block;
		transition: all .3s;
	}

	&__radio-group {
		width: 49%;
		display: inline-block;
	}

	&__radio-label {
		font-size: $default-font-size;
		cursor: pointer;
		position: relative;
		padding-left: 4rem;
	}

	&__radio-button {
		border-radius: 50%;
		border: 5px solid $color-primary;
		display: inline-block;
		height: 3rem;
		left: 0;
		position: absolute;
		top: -.4rem;
		width: 3rem;

		&::after {
			background-color: $color-primary;
			border-radius: 50%;
			content: "";
			display: block;
			height: 1.3rem;
			left: 50%;
			position: absolute;
			top: 50%;
			transform: translate(-50%, -50%);
			transition: opacity .1s;
			width: 1.3rem;
			opacity: 0;
		}

	}

	&__radio-input {
		display: none;
	}

	&__radio-input:checked ~ &__radio-label &__radio-button::after {
		opacity: 1;
	}
}